:root{
  --popup-background: #323232;
  --popup-text: #CDCDCD;
}

.pop-up{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0, 0);
  transform-origin: center;
  color: var(--popup-text);
  background-image: linear-gradient(to right, red, blue);
  padding: 20px;
  border-radius: 10px;
  pointer-events: none;
  
  --light-blue: rgb(52, 108, 220);

  button{
    width: 100%;
    padding: 10px;
    background: var(--popup-background);
    color: var(--popup-text);
    border: 0;
    border-radius: 10px;
  }
}

.pop-up.active{
  transform: translate(-50%, -50%) scale(1, 1);
  pointer-events: all;
}